.news {
    cursor: pointer;
}

.title {
    font-weight: 600;
    margin-top: 12px;
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    color: var(--color-gray-700);
}

.title:hover {
    color: var(--color-indigo-700);
}