* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    border: none;
    background: none;
    color: black;
    list-style-type: none;
    outline: none;
}

:root {
    --color-gray-50: #f9fafb;
    --color-gray-100: #f3f4f6;
    --color-gray-200: #e5e7eb;
    --color-gray-300: #d1d5db;
    --color-gray-400: #9ca3af;
    --color-gray-500: #6b7280;
    --color-gray-600: #4b5563;
    --color-gray-700: #374151;
    --color-gray-800: #1f2937;
    --color-gray-900: #111827;
    --color-indigo-50: #eef2ff;
    --color-indigo-100: #e0e7ff;
    --color-indigo-200: #c7d2fe;
    --color-indigo-300: #a5b4fc;
    --color-indigo-400: #818cf8;
    --color-indigo-500: #6366f1;
    --color-indigo-600: #4f46e5;
    --color-indigo-700: #4338ca;
    --color-indigo-880: #3730a3;
    --color-indigo-900: #312e81;
}

img {
    width: 100%;
    height: auto;
    border-radius: 2px;
    display: block;
}

.material-icons {
    color: #666;
}

.formInput {
    width: 100%;
    border: 2px solid var(--color-gray-300);
    border-radius: 2px;
    background-color: white;
    padding: 8px;
    font-size: 16px;
}

.formTitle {
    color: var(--color-indigo-600);
    margin: auto;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.form{
    max-width: 700px;
    margin: auto;
    background-color: var(--color-gray-100);
    padding: 25px;
    border-radius: 2px;
    border: 2px solid var(--color-gray-200);
}

.btn,
.btnFull {
    transition: all;
    transition-duration: 900ms;
    cursor: pointer;
    width: 100%;
    background-color: var(--color-indigo-600);
    color: white;
    padding: 10px 20px;
    border-radius: 2px;
    font-size: 16px;
}

.btnFull {
    width: 100%;
}

.btn:hover,
.btnFull:hover {
    background-color: white;
    border: 2px solid var(--color-indigo-600);
    color: var(--color-indigo-600);
}

.formGroup {
    margin-bottom: 30px;
}

.formLabel {
    margin-bottom: 10px;
    display: inline-block;
}